* {
  box-sizing: border-box;
  /* background-color: black; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --pink:rgb(163, 64, 167);
}

body {
  font-family: 'Lato', sans-serif;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  text-align: left;
  color: var(--white);
  background-color: #000;
}
.bg{
    margin-top: 4.1%;
    width:100%;
    height:100%;
    position:fixed;
    z-index: 0;
    opacity: 0.25;
}


span{
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: #7200ff;
  position: fixed;  
  background-color: rgba(0, 0, 0, 0.637);  
  width: 100%;
  z-index: 1;
  padding: 1%;
}
span p {
  font-weight:100;
  font-size:x-large;
  display: inline-block;
  color: white;
}
main{
  margin-top: 10%;
  position: relative;
}
main h1{
  font-family:'Courier New', Courier, monospace;
  display: inline;
  font-size: 80px;
  color: #7200ff;  
  text-shadow: 3px 3px 3px #000000;
}
main h2{
  font-family: 'Courier New', Courier, monospace;
  display: inline;
  font-size: 80px;
  color: orange ;
  text-shadow: 3px 3px 3px #010101;
}
main h3{
  font-family:'Courier New', Courier, monospace;
  display: inline;
  font-size: 80px;
  color: #ffffff;  
  text-shadow: 3px 3px 3px #010101;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);  
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  visibility: visible;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);;
  font-weight: bolder;
}

.overlay a:hover, .overlay a:focus {
  color: #6e6e6ea4;
  transform: scale(1.09);
  font-weight: bold;
  visibility: visible;

}

.overlay .closebtn{
  position:absolute;
  font-size: 60px;
  color: #7200ff;
}

.column{
display: flex;
flex-direction: column;
}

.linear-gradient-background
{
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}
.code-card .card-header{
  border-radius: 8px;
  /* transition: all 0.5s ease-in-out; */
}
.code-card:hover , 
.code-card:hover .card-header
{
  box-shadow: inset 0px 0px 8px 
  rgba(232,102,236,1), 0 0 15px
  rgba(232,102,236,1);
  transform: scale(1.05);
  /* transition: margin-right 2s ease-in-out; */
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  text-shadow: 0 0 3px #010101;
  background-color: #000;
}


}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.blackbox{
  background-color: rgb(0, 0, 0);
  width: 100%;
  border: 15px solid rgb(0, 0, 0);
}

.hero-text {
  max-width: 70%;
  margin-right: auto;
  text-align: center;
  display:inline;
}
.button-hero.black {
  padding: 13px 45px;
  border-style: solid;
  margin-left: 2%;
  border-width: 2px;
  border-color: #fff;
  background-color: rgba(32, 34, 46, 0);
  background-image: none;
  box-shadow: 4px 4px 15px -5px #000;
  opacity: 1;
}
.button-hero {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #7200ff, #2b0050);
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration: none;
}

.margin-50px {
  margin-top: 8%;
  margin-bottom: 8%;
}
